.carousel-inner img{
    height: 500px;
    object-fit:cover;
}
.col{
    background-color: white;
    height: auto;
    border:solid 3px blue;
    font-family: 30px;
    padding: 2px;
}
.container{
    background-color: violet;
    border:solid 3px blue;
}
.row{
    padding: 10px;
}
